body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
    width: 50%;
}

h2 {
    margin-top: 0;
}

input, select, textarea {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
}

button {
    margin-top: 12px;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    border: none;
    background: #facc15;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button.secondary {
    background: #64748b;
    color: white;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
}

.modal-content {
    background: #1e293b;
    width: 400px;
    padding: 25px;
    border-radius: 12px;
    margin: 8% auto;
}

/* UEBA POPUP */
.ueba-popup {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #7c2d12;
    padding: 15px;
    border-radius: 10px;
    width: 260px;
    box-shadow: 0 0 10px black;
}

.ueba-popup button {
    margin-top: 10px;
    background: #f97316;
}
